<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]ToDoList</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDoList.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="px-4 py-4 bg-slate-400 border-bottom box-shadow mb-3 ">
            <div class="container-fluid flex items-center gap-4">
                <a class="font-bold text-2xl text-sky-100" asp-area="" asp-controller="Home" asp-action="Index">ToDoList</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="bg-orange-500 hover:bg-orange-600 rounded-lg px-2 py-1 text-gray-50 text-2xl" asp-area="" asp-controller="Auth" asp-action="Index">Auth</a>
                <a class="bg-green-500 hover:bg-green-600 rounded-lg px-2 py-1 text-gray-50 text-2xl" asp-area="" asp-controller="Home" asp-action="Index">ToDo List</a>
                <a class="bg-indigo-500 hover:bg-indigo-600 rounded-lg px-2 py-1 text-gray-50 text-2xl" asp-area="" asp-controller="Status" asp-action="Index">Statuses</a>
            </div>
        </nav>
    </header>
    <div class="flex flex-col items-center mx-auto pb-3 gap-4 min-h-full w-96">
        <main role="main" class="min-w-full">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted px-4 bg-slate-900 text-gray-50">
        <div class="container">
            &copy; 2024 - ToDoList - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/view1.js" defer></script>
    <script src="~/js/view2.js" defer></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
