node_modules
.vs/ToDoList.generated/FileContentIndex/e4f29b5e-7a03-43e3-8b0e-27939b9de67f.vsidx
.vs/ToDoList.generated/FileContentIndex/a66253d8-a983-4a3f-8270-f6be1fdf84d0.vsidx
.vs/ToDoList.generated/FileContentIndex/93765696-22c8-41be-9cc3-b7851aaaa8c1.vsidx
.vs/ToDoList.generated/FileContentIndex/7bc623b0-03eb-4065-a734-26248bad3943.vsidx
.vs/ToDoList.generated/FileContentIndex/2f50d576-f950-4e9d-b9ae-fbbf1f1924b9.vsidx
.vs/ToDoList.generated/FileContentIndex/bfbf0e07-7f99-4501-a955-9b056a6edd53.vsidx
.vs/ToDoList.generated/FileContentIndex/d6ddb929-c049-4309-984f-56cf62161dd5.vsidx
