@model AllTodoListModel

<div>
    <table>
        <tbody class="flex flex-col gap-2 ">
            @foreach (var tab in Model.TodoList)
            {
                <tr class="flex justify-around bg-gray-300  px-2 py-2 rounded-md">
                    <th class="mr-5">@tab.Name</th>

                    <td class="flex gap-2">
                        <input type="submit" value="Update" onclick="updateTodo(@tab.Id)" class="flex bg-cyan-600 text-gray-50 rounded-md hover:cursor-pointer px-2 py-1"> 
                        <input type="submit" value="Delete" onclick="deleteTodo(@tab.Id)" class="flex bg-red-600 text-gray-50 rounded-md hover:cursor-pointer px-2 py-1"> 
                    </td>
                </tr>
            } 
        </tbody>
    </table>
</div>