@model TodoViewModel

@{
    ViewData["Title"] = "Form Page";
}

<div>
    <table>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tab in Model.TodoList)
            {
                <tr>
                    <th scope="row">@tab.Id</th>
                    <th>@tab.Name</th>
                </tr>
            } 
        </tbody>
    </table>
</div>